## Excercise

1.Use this air bnb new york city data set and remove outliers using percentile based on price per night for a given apartment/home. You can use suitable upper and lower limits on percentile based on your intuition. Your goal is to come up with new pandas dataframe that doesn't have the outliers present in it.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/FeatureEngineering/1_outliers/Exercise/AB_NYC_2019.csv")

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [17]:
df.shape

(48895, 16)

In [29]:
df.price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [21]:
min_thresh , max_thresh = df["price"].quantile([ 0.005 , 0.999])

In [22]:
min_thresh

26.0

In [23]:
max_thresh

3000.0

In [24]:
df2=df[(df["price"]<max_thresh) & (df["price"]>min_thresh)]

In [25]:
df2.shape

(48589, 16)

In [26]:
df.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
32292,25264902,Sunnyside Gardens Retreat,5024128,Ricky,Queens,Sunnyside,40.74689,-73.91652,Private room,70,2,31,2019-06-18,2.40,1,319
30270,23377713,Private room in lovely Brooklyn Apt,54241,Matt,Brooklyn,Sunset Park,40.66289,-73.99815,Private room,80,21,0,NaN,NaN,1,0
36967,29390218,Bright and cozy 1 bedroom,221405192,Ivan,Brooklyn,Bensonhurst,40.61667,-73.99932,Entire home/apt,100,1,3,2018-12-28,0.41,1,61
29259,22451363,Perfect block in NYC,164509613,Eduardo,Manhattan,Morningside Heights,40.80414,-73.96498,Entire home/apt,145,1,23,2019-07-05,1.37,1,3
6174,4516939,"Zen Oasis in Bushwick, near JMZ Subways",3388950,Amaya,Brooklyn,Bedford-Stuyvesant,40.69454,-73.93427,Private room,72,5,89,2019-05-22,1.65,6,322
38385,30227667,"Lovely studio next to Penn Station ,",8073725,Ronni,Manhattan,Chelsea,40.74875,-73.99697,Entire home/apt,175,1,24,2019-06-25,3.17,1,365
21450,17134357,Cozy large BR steps to AMNH,780958,Liliana,Manhattan,Upper West Side,40.78587,-73.97468,Private room,100,5,11,2017-07-23,0.39,1,0
26958,21356378,Sunny Private Room 4 Min from Train,9439324,Chérie,Brooklyn,Bushwick,40.68809,-73.90641,Private room,36,1,8,2019-05-20,0.43,3,0
42395,32896994,X Night,184750740,Juice,Bronx,Morrisania,40.82398,-73.90894,Shared room,77,1,0,NaN,NaN,4,90
33786,26776819,Private 3A Room in 4BR/2BA APT in Hell's Kitchen,137274917,David,Manhattan,Hell's Kitchen,40.76187,-73.98984,Private room,110,1,54,2019-06-23,4.84,12,251

In [28]:
df2.price.describe()

count    48589.000000
mean       147.774167
std        153.337583
min         27.000000
25%         70.000000
50%        108.000000
75%        175.000000
max       2999.000000
Name: price, dtype: float64